@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  [data-theme="dark"] {
    --primary: rgb(25, 30, 30);
    --secondary: rgb(243 244 246);
    --grey: rgb(50, 60, 60);
  }

  [data-theme="light"] {
    --primary: rgb(255 255 255);
    --secondary: rgb(23, 23, 22);
    --grey: rgb(200, 210, 210);
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    color: var(--secondary);
  }

  * {
    @apply leading-8 font-poppins;
  }

  a,
  button {
    @apply opacity-75 transition-opacity duration-150 ease-linear;
  }

  a:hover,
  button:hover {
    @apply opacity-100;
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center gap-2.5 relative;
  }

  .btn::before {
    content: var(--tw-content);
    @apply h-[0.125rem] absolute bottom-0 bg-secondary w-2;
  }

  .btn:hover::before {
    @apply w-[30px] transition-all duration-150 ease-in-out;
  }
}
